@model Ptc.Seteng.Models.ChangeAssignedViewModel
@{
    
}
<div style="display:none">
    @using (Html.BeginForm("Getcallog", "ChangeAssigned", FormMethod.Post, new { @id = "callogForm", @name = "callogForm", @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
    {
        <button type="submit" id="callogSearch" name="callogSearch" data-loading-text="處理中..."></button>
    }
    @using (Html.BeginForm("GetTechnician", "ChangeAssigned", FormMethod.Post, new { @id = "TechnicianForm", @name = "TechnicianForm", @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
    {
        <button type="submit" id="TechnicianSearch" name="TechnicianSearch"></button>
    }
</div>
<div class="row">
    <div id="grid-table">
        <!--table header-->
        <div class="table-header">
            <span>&nbsp;<button class="btn-search btn-sm AuthRead" style="float:right;" onclick="Notify();">改派</button></span>
        </div>
        <!--end table header-->
        <!--result table-->
        <table class="table table-bordered table-striped table-bordered dt-responsive nowrap" id="CallogTable">
            <thead>
                <tr role="row">
                    <th class="center" role="columnheader">
                        <span><input type="checkbox" name="CallogCheckAll" onclick="CallogSelectAll(this.checked)"></span>
                    </th>
                    <th class="center" role="columnheader">案件編號</th>
                    <th class="center" role="columnheader">區</th>
                    <th class="center" role="columnheader">課</th>
                    <th class="center" role="columnheader">店名</th>
                    <th class="center" role="columnheader">故障設備</th>
                    <th class="center" role="columnheader">故障原因</th>
                    <th class="center" role="columnheader">立案時間</th>
                    <th class="center" role="columnheader">應完成時間</th>
                    <th class="center" role="columnheader" style="color:#707070;">認養技師</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <!--end result table-->
    </div>
</div>
<div class="modal fade" id="NotifyPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <input type="hidden" name="NotifySn" id="NotifySn" />
    <input type="hidden" name="divbutton" id="divbutton" />
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">案件改派</h3>
            </div>
            <div class="modal-body">

                <div id="Technician" style="width:100%;height:400px;overflow-y:auto;">
                    <table class="table table-bordered table-striped table-bordered dt-responsive nowrap" id="TechnicianTable">
                        <thead>
                            <tr role="row">
                                <th class="center" role="columnheader"></th>
                                <th class="center" role="columnheader">姓名</th>
                                <th class="center" role="columnheader">帳號</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SendChangeNotify()">改派</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/PTC/PTCFloatTableFooter.js"></script>
    <script src="~/Scripts/PTC/PTCDatatables.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {

            CaseDataTable();

            $('#callogSearch').click();

            TechnicianDataTable();

            $('#TechnicianSearch').click();

            hide();
        });

        //調整技師table和群組table的css
        function hide() {
            $('#TechnicianTable_wrapper').css('overflow-x', 'unset'); //TechnicianTable_wrapper->動態產生在技師table的上層，由於在table上加了兩個div，因為溢位而無法呈現，在此將css重新設定
            $('#TechnicianTable_length').css('display', 'none');  //顯示xx個項目的id->隱藏(技師table)
            $('#TechnicianTable_paginate').css('display', 'none'); //顯示分頁id->隱藏(技師table)
            $('#TechnicianTable_info').css('display', 'none');     //顯示筆數id->隱藏(技師table)
        };

        //全選或取消全選(案件table)
        function CallogSelectAll(checked) {
            $('input[name=CallogCheck]').each(function () {
                $(this).prop('checked', checked);
            });
            $('input[name^=CallogCheck]').each(function () {
                $(this).attr("value", checked);
            });
        };

        //送出通知
        function SendChangeNotify() {
            var item
            var table
            var NotifySn = $('#NotifySn').val(); //要通知的Sn
            if ($('#divbutton').val() == 1) {
                item = document.getElementsByName("TechnicianCheck"); //取得CheckBox
                table = document.getElementById("TechnicianTable"); //取得技師table
                //var NotifyTechnician = [];
                var NotifyTechnician = "";
                for (var i = 0; i <= item.length - 1; i++) {
                    if (item[i].checked) {
                        var j = i + 1;  //第0行為title，所以加一  //第0行為title，所以加一
                        //NotifyTechnician.push(table.rows[j].cells[2].innerText);
                        NotifyTechnician = table.rows[j].cells[2].innerText;
                    }
                };
                window.PTC.Loading(true);
                $.ajax({
                    url: '@Url.Action("TechnicianNotifyForChange", "ChangeAssigned")',
                    data: { 'Technician': NotifyTechnician, 'Sn': NotifySn },
                    type: 'POST',
                    success: function (data) {
                        var result = data.Data;
                        if (result.IsSuccess) {
                            $('#NotifyPopup').modal('hide');
                            $('#callogSearch').click();
                            window.PTC.alertInfo(result.Message)
                            setTimeout(function () {
                                $(".alert").remove();
                                swal.closeModal(true);
                            }, 3000);
                            window.PTC.Loading(false);
                        }
                        else {
                            window.PTC.alertInfo(result.Message)
                            setTimeout(function () {
                                $(".alert").remove();
                                swal.closeModal(true);
                            }, 3000);
                            window.PTC.Loading(false);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        window.PTC.alertInfo(thrownError)
                        setTimeout(function () {
                            $(".alert").remove();
                            swal.closeModal(true);
                        }, 3000);
                        window.PTC.Loading(false);
                    }
                });
            }

        };
                

        //打開通知的Popup
        function Notify() {
            var Checkbox = document.getElementsByName("CallogCheck"); //取得CheckBox
            var table = document.getElementById("CallogTable"); //取得案件table
            var NotifySn = [];
            for (var i = 0; i <= Checkbox.length - 1; i++) {
                if (Checkbox[i].checked) {
                    var Sn = Checkbox[i].value.replace("'", "").replace("'", "");
                    NotifySn.push(Sn);
                }
            };
            if (NotifySn == '') {
                $('#NotifyPopup').modal('hide');
                window.PTC.alertInfo('未選擇改派案件!');
                setTimeout(function () {
                    $(".alert").remove();
                    swal.closeModal(true);
                }, 3000);
            }
            else {
                $('#NotifySn').val(NotifySn);
                ShowTechnicianTable(1); //技師->1
                $('input[name=TechnicianCheck]').each(function () {
                    $(this).prop('checked', false);
                });
                $('input[name=TechnicianCheckAll]').prop('checked', false)
                $('#NotifyPopup').modal('show');
            }
        };

        //Popup->顯示技師
        function ShowTechnicianTable(obj) {
            $('#Technician').css('display', 'block');
            $('#divbutton').val(obj);
        };


        
        //案件table
        function CaseDataTable() {
            var columns = [
                {
                    targets: 0,
                    className: 'text-center',
                    searchable: false,
                    orderable: false,
                    render: function (data, type, full, meta) {
                        var checkbox = '<span><input type="checkbox" name="CallogCheck" onclick="CallogSelect(this.checked)" value="' + "'" + data + "'" + '"/></span>';
                        return checkbox;
                    }, width: '5%'
                },
                { targets: 1, name: "Sn", id: "Sn", width: '10%' },
                { targets: 2, name: "Zo_Name", id: "Zo_Name", width: '5%' },
                { targets: 3, name: "Do_Name", id: "Do_Name", width: '5%' },
                { targets: 4, name: "Store_Name", id: "Store_Name", className: 'min-tablet-l', width: '10%' },
                { targets: 5, name: "Asset_Name", id: "Asset_Name", className: 'min-tablet-l', width: '15%', },
                { targets: 6, name: "Damage_Desc", id: "Damage_Desc", className: 'desktop', width: '10%' },
                { targets: 7, name: "Rcv_Datetime", id: "Rcv_Datetime", className: 'desktop', width: '15%' },
                { targets: 8, name: "Fd_Date", id: "Fd_Date", className: 'desktop', width: '15%' },
                { targets: 9, name: "Name", id: "Name", className: 'desktop',  orderable: false, width: '10%' }
            ];
            $('#CallogTable').PTCDataTable({
                colmDefs: columns,
                form: '#callogForm'
            });
        };
        //技師table
        function TechnicianDataTable() {
            var columns = [
                {
                    targets: 0,
                    className: 'text-center',
                    searchable: false,
                    orderable: false,
                    render: function () {
                        var radiobutton = '<span><input type="radio" name="TechnicianCheck" /></span>';
                        return radiobutton;
                    }
                },
                { targets: 1, name: "Name", id: "Name", className: 'text-center', searchable: false, orderable: false },
                { targets: 2, name: "Account", id: "Account", className: 'text-center', searchable: false, orderable: false },
            ];
            $('#TechnicianTable').PTCDataTable({
                colmDefs: columns,
                form: '#TechnicianForm'
            });
        };

    </script>
}

