<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>C:\Users\jack801124\Desktop\SpccEngApp</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DS2015DB;Initial Catalog=SpccEngCCSys_20170419;User ID=SpccEngCCSys;Password=SpccEngCCSys12876266;MultipleActiveResultSets=True;Connect Timeout=30;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Ptc.Spcc.CCEng.LogContext-Web.config Connection String">
      <ParameterValue>Data Source=DS2015DB;Initial Catalog=SpccEngCCSys_20170419;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SpccEngCCSysEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataBase.SPCC.csdl|res://*/DataBase.SPCC.ssdl|res://*/DataBase.SPCC.msl;provider=System.Data.SqlClient;provider connection string="Data Source=DS2015DB;Initial Catalog=SpccEngCCSys_20170419;User ID=SpccEngCCSys;Password=SpccEngCCSys12876266;MultipleActiveResultSets=True;Connect Timeout=30;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SpccEngUserEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/database.SPCCEngUser.csdl|res://*/database.SPCCEngUser.ssdl|res://*/database.SPCCEngUser.msl;provider=System.Data.SqlClient;provider connection string="Data Source=DS2015DB;Initial Catalog=SpccEngCCSys_20170419;User ID=SpccEngCCSys;Password=SpccEngCCSys12876266;MultipleActiveResultSets=True;Connect Timeout=30;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>