 modal-technician-result {
     .common-bg {
         .purchase {
             .title {
                 background-color: color($colors, optionPrimary);
                 text-align: center;
                 color: white;
                 font-size: 1.6rem;
                 padding: 10px;
             }
             .item {
                 background-color: #ddf4c6;
                 margin: 5px;
             }
         }
     }
 }