vender-confirm,
.category {


    ion-toolbar {
        div {
            text-align: center;

            .total {
                letter-spacing: 1px;
                font-size: 1.6rem;
            }
        }

        ion-buttons {
            width: 50%;
            text-align: center;

            .bar-button {
                font-size: 1.2rem;
            }
        }
    }
}

 